<component name="libraryTable">
  <library name="spring-jdbc-3.2.0.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework/spring-jdbc/3.2.0.RELEASE/jar/338dad7908d1f9bdee61bfb0480bcb9db088e05f/spring-jdbc-3.2.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework/spring-jdbc/3.2.0.RELEASE/source/e41e085c43a72eda0267996237279e1d7a62f474/spring-jdbc-3.2.0.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>