<component name="libraryTable">
  <library name="spring-tx-3.2.0.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework/spring-tx/3.2.0.RELEASE/jar/bf931884f0fcf428862ca667572175911b2a3eb7/spring-tx-3.2.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework/spring-tx/3.2.0.RELEASE/source/c954281cd9f31bb79ce60d37cd72d8a82bb1a7de/spring-tx-3.2.0.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>