<component name="libraryTable">
  <library name="spring-batch-core-2.1.9.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework.batch/spring-batch-core/2.1.9.RELEASE/jar/55ab028691982e599514bcee511f17be88a73438/spring-batch-core-2.1.9.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework.batch/spring-batch-core/2.1.9.RELEASE/source/f591aeaf6129369b18683ebfffc6e059968d50eb/spring-batch-core-2.1.9.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>